@use "./mixins" as *;
//>> Variables <<//
@use "./variables" as *;

.footer-1 {
  position: relative;
  padding-top: 305px;
  @include breakpoint(max-lg) {
    padding-top: 255px;
  }
  .shape-1 {
    position: absolute;
    top: 50px;
    left: -50px;
    opacity: 26%;
    animation: zoomBig 4s infinite linear;
    @include breakpoint(max-md) {
      display: none;
    }
  }
  .shape-2 {
    position: absolute;
    top: 190px;
    right: -160px;
    opacity: 26%;
    animation: zoomBig 4s infinite linear;
    @include breakpoint(max-md) {
      display: none;
    }
  }
  .footer-logo {
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .newsletter {
    @include breakpoint(max-xl) {
      margin-top: 40px;
    }
  }
  .signle-footer-widgets {
    .icon {
      font-size: 32px;
      color: $theme-color;
      padding-bottom: 15px;
    }
    span {
      color: $text-color-2;
    }
    h5 {
      color: $theme-color;
      font-size: 20px;
      font-weight: 500;
      margin-top: 5px;
    }
  }
  &.style-2 {
    padding-top: 130px;
    z-index: 1;
    .footer-bg-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
      background-image: var(--geroz-img-footer-bg-alt);
    }
    .signle-footer-widgets {
      span {
        color: $text-color;
      }
      h5 {
        color: $white;
        font-size: 20px;
        font-weight: 500;
        margin-top: 5px;
        font-family: $body-font;
      }
      ul {
        li {
          padding: 8px 0;
          position: relative;
          @include transition;

          a {
            color: $white;
          }
        }
      }
      &.usefull-link {
        margin-top: -25px;
        @include breakpoint(max-lg) {
          margin-top: 40px;
        }
        h4 {
          font-size: 22px;
          color: $white;
          padding-bottom: 20px;
        }
      }
    }
    .newsletter {
      h4 {
        color: $white;
      }
      .form-clt {
        position: relative;
        input {
          width: 100%;
          outline: none;
          border: none;
          padding: 10px 0;
          color: $theme-color;
          font-weight: 500;
          border-radius: 4px;
          @include transition;
          border-bottom: 1px solid #bfc9d1;
          background-color: transparent;
          &::placeholder {
            color: $white;
          }
        }
        .icon {
          color: $white;
        }
      }
      .social-icon {
        a {
          background-color: transparent;
          border: 1px solid $border-color;
          color: $white;
          &:hover {
            background-color: $protfolio-theme;
          }
        }
      }
    }
  }
}

.newsletter {
  margin-top: -40px;

  h4 {
    font-size: 32px;
  }
  .form-clt {
    position: relative;
    input {
      width: 100%;
      outline: none;
      border: none;
      padding: 10px 0;
      color: $theme-color;
      font-weight: 500;
      @include transition;
      border-bottom: 1px solid $border-color;
      background-color: transparent;
      &::placeholder {
        color: $text-color-2;
      }
    }
    .icon {
      position: absolute;
      right: 0;
      top: 10px;
      padding-bottom: 0;
      i {
        rotate: -45deg;
        font-size: 16px;
      }
    }
  }
  .social-icon {
    a {
      width: 42px;
      height: 42px;
      @include icon;
      background-color: $white;
      font-size: 18px;
      color: #2b1556;

      margin-right: 8px;
      &:hover {
        background-color: $theme-color;
        color: $white;
        border-color: $theme-color;
      }
    }
  }
}

.footer-2 {
  position: relative;
  background-color: #1e1e1e;
  @include breakpoint(max-xxl) {
    margin-top: 0;
  }
  .newsletter {
    margin-left: 125px;
    margin-top: 0;
    @include breakpoint(max-xxxl) {
      margin-left: 35px;
      margin-right: 100px;
    }
    @include breakpoint(max-xxl) {
      margin-left: 35px;
      margin-right: 50px;
    }
    @include breakpoint(max-xl) {
      margin-left: 0;
      margin-right: 0;
    }
    .form-clt {
      input {
        color: $text-color;
        border-bottom: 1px solid $border-color-2;
        &::placeholder {
          color: $text-color;
        }
      }
      .icon {
        color: $text-color;
      }
    }
  }
  .signle-footer-widgets {
    h3 {
      color: $white;
    }
    .infu-area {
      gap: 65px;
      padding-top: 100px;
      @include breakpoint(max-xl) {
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;
      }
      .infu {
        h5 {
          font-family: $body-font;
          font-size: 18px;
          font-weight: 700;
          a {
            color: $white;
          }
        }
      }
    }
    .list-area {
      position: relative;
      .link {
        width: 100%;
        padding: 10px 0;
        color: $text-color;
        font-weight: 500;
        @include transition;
        background-color: transparent;
        border-bottom: 1px solid $border-color-2;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        a {
          color: $text-color;
          position: relative;
          z-index: 20;
        }
        &::after {
          @include after;
          width: 0%;
          border-bottom: 1px solid $border-color-2;
          @include transition;
        }
      }
      .icon {
        position: absolute;
        right: 0;
        top: 10px;
        padding-bottom: 0;
        i {
          @include transition;
          rotate: -45deg;
          font-size: 16px;
        }
      }
      &:hover {
        .link {
          &::after {
            width: 100%;
            border-color: $white;
          }
        }
        a {
          color: $white;
        }
        .icon {
          i {
            rotate: 0deg;
          }
        }
      }
    }
    .social-icon {
      a {
        background-color: transparent;
        color: $white;
        border: 1px solid $border-color-2;
        &:hover {
          background-color: $theme-color-2;
          color: $white;
          border-color: $theme-color-2;
        }
      }
    }
  }
  .image {
    position: absolute;
    right: 50px;
    top: -130px;
    width: 380px;
    height: 565px;
    float: left;
    @include breakpoint(max-xxl) {
      position: inherit;
      width: 100%;
      height: 365px;
    }
    img {
      @include imgw;
    }
  }
  .text-wrapper {
    .swiper-wrapper {
      transition-timing-function: linear;
    }
    .swiper-slide {
      width: max-content !important;
    }
    .text {
      color: $white;
      font-size: 128px;
      font-weight: 400;
      letter-spacing: -3.84px;
      position: relative;
      &::after {
        @include after;
        width: 74px;
        height: 1px;
        background-color: $border-color-2;
        top: auto;
        bottom: 40px;
        left: -140px;
      }
    }
  }
  .footer-bottom {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  &.style-2 {
    margin-top: 0;
    padding-top: 260px;
    position: relative;
    @include breakpoint(max-xl) {
      padding-top: 130px;
    }

    .newsletter {
      margin-left: 0;
      margin-right: 50px;
    }
    .bg-image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
      background-image: var(--geroz-img-footer-bg);
      &::after {
        @include after;
        background-color: rgba(51, 51, 51, 0.96);
      }
    }
    .widget-head {
      h4 {
        color: $white;
        font-size: 22px;
        font-family: $heading-font-2;
        position: relative;
        &::after {
          @include after;
          width: 80px;
          height: 3px;
          background-color: $lawyer-theme;
          top: auto;
          bottom: -10px;
          left: 0;
        }
      }
      ul {
        margin-top: 30px;
        li {
          @include transition;
          padding: 8px 0;
          a {
            color: $white;
          }
          &:hover {
            padding-left: 10px;
          }
        }
      }
    }
    .infu-area {
      padding-top: 50px;
      .infu {
        h5 {
          font-family: $heading-font-2;
          font-weight: 400;
        }
      }
    }
    .name {
      padding-top: 80px;
      h2 {
        color: $white;
        text-align: center;
        font-family: $heading-font-2;
        font-size: 232px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -11.6px;
        @include breakpoint(max-xxxl) {
          font-size: 180px;
        }
        @include breakpoint(max-xxl) {
          font-size: 160px;
        }
        @include breakpoint(max-xl) {
          font-size: 130px;
        }
        @include breakpoint(max-sm) {
          font-size: 110px;
        }
        @include breakpoint(max-xxs) {
          font-size: 95px;
        }
      }
    }
  }
  &.style-3 {
    margin-top: 0;
    @include breakpoint(max-xxl) {
      padding-top: 80px;
    }

    .footer-logo {
      @include flex;
      justify-content: center;
    }
    .list-area {
      li {
        color: $theme-color;
        border-bottom: 1px solid $text-color;
        a {
          color: $theme-color;
        }
      }
      .icon {
        color: $theme-color;
      }
    }
  }
}

.newsletter-wrapper {
  .form-clt {
    position: relative;
    input {
      width: 100%;
      outline: none;
      border: none;
      padding: 22px 0;
      color: $theme-color;
      font-weight: 500;
      @include transition;
      border: 1px solid $border-color;
      background-color: transparent;
      padding-left: 35px;
      &::placeholder {
        color: $text-color-2;
      }
    }
    .theme-btn {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 0;
    }
  }
}

.footer-3 {
  background-color: #160634;
  .section-title {
    position: relative;
    h2 {
      font-family: $poppins-font;
      color: $white;
      font-size: 200px;
      font-weight: 700;
      line-height: 201px;
      letter-spacing: -16px;
      @include breakpoint(max-xxl) {
        font-size: 160px;
        line-height: 160px;
      }
      @include breakpoint(max-xl) {
        font-size: 140px;
      }
      @include breakpoint(max-lg) {
        text-align: left;
        font-size: 100px;
        line-height: 100px;
        letter-spacing: -8px;
      }
      @include breakpoint(max-md) {
        font-size: 80px;
        line-height: 90px;
      }
      @include breakpoint(max-sm) {
        font-size: 50px;
        line-height: 65px;
        letter-spacing: -3px;
      }
      br {
        display: block;
      }
    }
    .infu {
      position: absolute;
      left: 52%;
      top: 40%;
      @include breakpoint(max-md) {
        display: none;
      }
      a {
        color: $white;
        font-size: 22px;
        font-weight: 700;
        i {
          padding-right: 15px;
        }
      }
    }
    .circle {
      position: absolute;
      top: 25%;
      right: 60px;
      background: linear-gradient(
        90deg,
        $theme-color-3 0.81%,
        $theme-color-4 100.81%
      );
      background-color: transparent;
      @include breakpoint(max-lg) {
        top: -10%;
        right: -15px;
      }
      @include breakpoint(max-lg) {
        display: none;
      }
      &-text {
        span {
          color: $white;
        }
      }
      &-icon {
        font-size: 45px;
        color: $white;
      }
    }
  }
  .signle-footer-widgets {
    span {
      color: $white;
    }
    h5 {
      color: $white;
      font-family: $body-font;
      font-size: 18px;
      font-weight: 700;
    }
  }
  .desh {
    svg {
      width: 100%;
    }
  }
  .scroll-line {
    line {
      stroke-dasharray: 12 12;
      stroke: white;
      stroke-opacity: 0.24;
    }
    .line-1 {
      animation: dashLeft 1s linear infinite;
    }
    .line-2 {
      animation: dashRight 1s linear infinite;
    }
  }

  @keyframes dashLeft {
    to {
      stroke-dashoffset: -24;
    }
  }

  @keyframes dashRight {
    to {
      stroke-dashoffset: 24;
    }
  }
}

.footer-bottom {
  .inner {
    border-top: 1px solid $border-color;
    padding: 20px 0;
    p {
      font-weight: 500;
    }
  }
  &.style-2 {
    padding-top: 60px;
    .content {
      @include breakpoint(max-md) {
        flex-direction: column;
        gap: 20px;
      }
    }
    .social-icon {
      @include flex;
      flex-wrap: wrap;
      gap: 10px;
      a {
        width: 42px;
        height: 42px;
        @include icon;
        background-color: $white;
        font-size: 18px;
        color: $text-color;
        &:hover {
          background-color: $theme-color;
          color: $white;
          border-color: $theme-color;
        }
      }
    }
  }
}
